{
  "semi": true, 
  "singleQuote": true, 
  "jsxSingleQuote": false, 
  "trailingComma": "all", 
  "printWidth": 120, 
  "tabWidth": 2, 
  "useTabs": false, 
  "bracketSpacing": true, 
  "jsxBracketSameLine": false, 
  "arrowParens": "always", 
  "endOfLine": "lf", 
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}