.layout {
    min-height: 100vh;
    width: 100%;
}

.sider {
    .ant-layout-sider {
        &-trigger {
            top: 0 !important;
            bottom: auto !important;
        }
    }
}

.header {
    padding: 0 !important;
}